.switch-container {
  float: right;
  text-align: right;
  padding-top: 50px;
  margin-right: 20px;

  .icon {
    text-align: center;
    color: #222;
    font-size: 14px;
    font-weight: 900;
  }
}
